TOKEN=your_bot_token_here
MARKAZ_URL=https://demo.corely.uz/api/v1/crm/public/form
LEAD_SUBMIT_URL=https://demo.corely.uz/api/v1/crm/public/leads
latitude=41.6667
longitude=63.8333

# Webhook Settings
WEBHOOK_URL=https://yourdomain.com/webhook
WEBHOOK_LISTEN=0.0.0.0
WEBHOOK_PORT=8000
WEBHOOK_PATH=webhook
WEBHOOK_SECRET_TOKEN=optional_secret_token
